CUETools.Codecs.FLACCL/obj/
CUETools.Codecs/obj/
CUETools.Codecs.Flake/obj/
CUETools.FLACCL.cmd/obj/


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
*.editorconfig
ThirdParty/openclnet/source/obj/Debug/net47/OpenCLNet.csproj.FileListAbsolute.txt
ThirdParty/openclnet/source/obj/Release/net47/OpenCLNet.pdb
